/*   Image from
 *   https://pixabay.com/photos/business-woman-professional-suit-2697954/ 
 */
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
.uneditable-input:focus {
  border-color: #B49B57 !important;
  box-shadow: none !important;
  outline: 0 none !important;
}

d-none {
  display: none !important;
}

.text-gold {
  color: #B49B57 !important;
}

.text-black {
  color: black;
}

.text-black:hover {
  color: black;
}

.bg-gold {
  background-color: #B49B57 !important;
}

.bg-gray {
  background-color: #f3f4f8 !important;
}

.bg-darkGray {
  background-color: #201e1c !important;
}

.bg-black {
  background-color: black !important;
}

.border-gold {
  border: 2px solid #B49B57 !important;
}

.nav-item > .active {
  background-color: #B49B57 !important;
  color: white !important;
}

.mr--5 {
  margin-right: calc(-5% + 10px) !important;
}

.mr--3 {
  margin-right: calc(-3% + 10px) !important;
}

.ml--5 {
  margin-left: calc(-5% + 10px) !important;
}

.ml--3 {
  margin-left: calc(-3% + 10px) !important;
}

.z2 {
  z-index: 2;
}

.z1 {
  z-index: 1;
}

.z-1 {
  z-index: -1;
}

.no-border {
  border: 0 !important;
  border-radius: 0;
}

w-100 {
  width: 100%;
}

w-50 {
  width: 50%;
}

f-1 {
  flex: 1 !important;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.top-offset {
  margin-top: -100px;
}

.bottom-offset {
  margin-bottom: -100px;
}

.nav-pills {
  margin-top: -50px;
  text-align: center;
}
.nav-pills > .nav-item > a {
  border: 1px solid transparent;
  border-radius: 0;
  width: 20vw;
  height: 150px;
  background-color: white;
}

.pill-card {
  width: 65%;
}

.pill-icon {
  margin-left: -35px;
}

.pill-content li {
  margin-top: 30px;
  margin-left: 60px;
}

.img-decoration {
  position: relative;
  background-color: #201e1c;
  width: 300px;
  height: 300px;
  top: 190px;
  right: 100px;
  z-index: -1;
}

.description-decoration {
  border-left: 3px solid #B49B57;
  font-weight: normal;
  font-size: 1.5em;
}

.support-limit {
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  .support-limit {
    max-width: 600px;
  }
}
@media screen and (max-width: 1000px) {
  .hide-description {
    display: none;
  }

  .statistics {
    display: none !important;
  }
}
.contact-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  position: relative;
  width: 50%;
  height: auto;
  top: -130px;
  background-color: white;
  border: 8px solid #B49B57;
  padding-bottom: 20px;
  min-width: 300px;
  max-width: 800px;
}

.article-contact {
  text-align: center;
  height: 500px;
}
.article-contact form {
  padding-top: 100px;
}
.article-contact h2 {
  z-index: 1;
  position: relative !important;
  bottom: 0;
  color: #B49B57;
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 100px;
}

.form-decoration {
  border: none !important;
  border-bottom: 3px solid #B49B57 !important;
}

.contact-send-btn {
  position: relative !important;
  left: 33%;
  top: 50px;
  width: 200px;
}

.counter {
  position: relative;
  font-size: 350%;
  font-weight: bold;
  margin-bottom: -30px;
  margin-right: 90px;
  padding-left: 40px;
}

.counter-icon {
  position: relative;
  font-size: 500%;
  font-weight: bold;
  margin-left: 40px;
  margin-top: -50px;
  color: #B49B57;
}

.login-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 30vh;
  width: 300px;
}
.login-form > button {
  background-color: #B49B57;
  color: white !important;
}

.login-header {
  display: flex;
  flex-direction: row;
  color: #B49B57 !important;
  border: 2px solid #B49B57;
  font-size: 2em;
  position: relative;
  text-align: center;
  top: 28vh;
  margin-left: auto;
  margin-right: auto;
  right: 30px;
  width: 240px;
  padding-right: 30px;
}
.login-header > i {
  margin-left: 22px;
  margin-top: 5px;
}
.login-header > h1 {
  color: black;
  line-height: 65px;
  margin: -10px 0 -10px 0;
}

.pills-header {
  font-size: 1.4em;
}

.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 1000px solid #B49B57;
  border-left: 400px solid transparent;
  margin-top: -400px;
}

.header-app {
  width: 100%;
  height: 700px;
  background-color: black;
}

.header-img {
  position: relative;
  width: 600px;
  height: auto;
  top: 400px;
  left: -650px;
}
@media screen and (max-width: 800px) {
  .header-img {
    left: -550px;
  }
}
@media screen and (max-width: 600px) {
  .header-img {
    display: none;
  }
}

.header-left-content {
  width: 20%;
  margin-left: 20%;
}
.header-left-content > p {
  margin-top: 10px;
  max-width: 550px;
  font-size: 1.1em;
}
.header-left-content > h1 {
  font-size: 4em;
}
@media screen and (max-width: 600px) {
  .header-left-content {
    margin-left: calc(18% + 8vw);
    width: 60%;
  }
}
@media screen and (min-width: 2000px) {
  .header-left-content {
    margin-left: auto;
    margin-right: auto;
  }
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

.pill-content:first-child {
  flex: 60%;
}

.pill-content:last-child {
  flex: 40%;
}

.pills-offset {
  margin-top: -873px;
}

/* Shows hidden cards for mobile */
@media screen and (max-width: 800px) {
  .pills-offset {
    margin-top: 50px !important;
    display: block !important;
    opacity: 1 !important;
  }

  .mobile-show {
    display: block !important;
    opacity: 1 !important;
  }

  .nav-squeeze {
    padding-top: 30px;
  }
  .nav-squeeze li {
    line-height: 14px;
    margin-top: -20px;
    width: 80vw;
  }
}
.over-pills {
  position: relative;
  color: white;
  font-weight: bold;
}

.pill-card {
  min-width: 250px !important;
}

.pill-left {
  width: 60%;
}
@media screen and (max-width: 800px) {
  .pill-left {
    display: none;
  }
}

.nav-pills a {
  position: relative;
  margin-top: -30px;
  z-index: 1;
  max-width: 350px;
  min-width: 200px;
}
@media screen and (max-width: 800px) {
  .nav-pills a {
    display: none !important;
  }
}

.nav-pills h2 {
  margin-top: 15px;
  margin-bottom: -35px;
  font-size: 1.1em;
  font-weight: bold;
}

.abs {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 5;
}

.sub-menu {
  width: 50vw !important;
}

.mega-menu * {
  color: white !important;
}

.search-form:focus {
  border-bottom: 2px solid #B49B57 !important;
}

.nav-img {
  max-width: 200px !important;
}

.nav-login {
  max-width: 220px;
}

.navbar-brand {
  margin-top: -15px;
  margin-bottom: -5px;
  padding-top: 10px;
  height: 50px;
}

.nav-squeeze {
  width: 80vw;
}

/*# sourceMappingURL=app.css.map */
